**/build/
**/sdkconfig
**/sdkconfig.old
**/sdkconfig.ci

**/components/

**/__pycache__/
**/*.pyc

**/.vscode/
**/.devcontainer/
**/.cache/

**/secrets.h
**/.env
**/.env.*

**/.wrangler/
**/.wrangler/**
**/wrangler-*.log

**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
Thumbs.db
